@font-face {
    font-family: 'gamefont';
    src: url('/Assets/fonts/crackman.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
    background-color: lightgrey;
}

#canvas {
    border: 1px black dotted;
    background-color: white;
    border-radius: 1%;
    display: block;
    margin: auto;
}